

* {
    margin: 0;
    padding: 0;
    letter-spacing: 1.7px;
    /* background-color: rgb(249, 249, 249); */

}

body {
        background-color: rgb(249, 249, 249);

     background-image: url(assets/backgroundwebsite5.jpg); 
    /* background-color: rgba(255, 255, 255, 1.0); */
    /* background-blend-mode: lighten; */
      background-repeat: no-repeat;
  background-size:cover;
}

p {
    font-family: "Arial Narrow", sans-serif;
    color: #121212;;
    font-size: 2.1vw;
}

h1 {
    font-family: "Arial Narrow", sans-serif;
    font-size:3vw;
    text-align: center;
}

h2 {
    font-family: "Arial Narrow", sans-serif;
    font-size:2vw;
    color: #3a3a3a;

 
}

h3 {
    font-family: "Arial Narrow", sans-serif;
    font-size:2.5vw;
    text-align: center;
    color: #3a3a3a;
}

h3:hover {
color: transparent;
text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}

h1:hover {
color: transparent;
text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}

a:hover {
color: transparent;
text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}

a {
    font-family: "Arial Narrow", sans-serif;
    color: #121212;;
}

button {
    font-family: "Arial Narrow", sans-serif;
    font-size:1.5vw;
    background-color: transparent;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    padding: 1rem;
	color: #3a3a3a;
}

/* columns */

.columns {
    display: grid;

    padding-top: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 95;

    grid-template-columns: 20% 80%


}

/* nav bar */

.collapsible {
    border: none;
}

.content {
    display: none;
    overflow: hidden;
}

.menu {
    width: 100%;
    display: block; /* make the links appear below each other */
}

.menu a {
    font-family: "Arial Narrow", sans-serif;
    font-size:1.5vw;
    color: #3a3a3a;;
    text-decoration: none;
}

/* main content */

.main {
    width: 100%;
}

.main img {
    width: 70%;
    
}

/* window screen */

.windows {
    display: flex;
    /* height: 100px; */
    flex-direction: column;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.windows div {
    padding: 0.5vw;
    /* flex: 4 4 10%; */
    /* align-self: center; */

    
}

.windows div:hover {
    /* -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);  */
/* box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); */
}

.windows img {
    width: 27vw;
}

.projectwindows {
        display: flex;
    /* height: 100px; */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    /* align-items: center; */
}

.projectwindows img {
    height: 40vh;
    padding: 1vw;
}

@media screen and (max-width: 950px) {
    .windows {
        flex-shrink: 5;
    }

    .windows div {
        flex-shrink: 5;
        width: 100%;
    }

    .windows img {
        width: 100%;
        height: auto;
    }
}



img:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
box-shadow: 5px 6px 36px -4px #000000; 
}

